:global(#App){
    .TaskList__Task:first-child    { margin-top: 10px; padding-top: 10px; border-top: dashed 1px #ddd; }
    .TaskList__Task__remove:after  { display: inline-block; color: #d66; content: '✖'; }
    .TaskList__add__task  { border: 1px dashed #bbb; width: 100%; padding: 10px; margin-top: 5px;border-radius: 3px; }
}